<ng-container *ngIf="post$ | async as post">
  <app-all-posts-btn></app-all-posts-btn>
  <h1>{{ post.title }}</h1>
  <!-- This is where Scully will inject the static HTML -->
  <scully-content></scully-content>
  <!-- This is where Scully will inject the static HTML -->
  <h4>Published on {{ post.date | date: 'mediumDate' }}</h4>
  <hr/>
  <div>
    <a *ngFor="let tag of post.tags; let first = first"
       [routerLink]="['/tag', tag.toLowerCase()]" >
      {{ tag }}
    </a>
  </div>
</ng-container>
